.openbtn {
    position: relative;
    margin: auto 45vw;
    padding: .75rem;
    border: none;
    border-radius: 16px;
    background: rgba(211, 211, 211, 0.4);
    overflow: hidden;
    transition: all 1s;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0;
        left: -25%;
        transform: skewX(45deg);
        background: $hover-btn;
        z-index: -1;
        transition: all 1s;
    }
    &:hover {
        cursor: pointer;
        &::before{
            width: 160%;
        }
    }
}