.list-event {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 2%;
}

.event {
    border: 1px solid red ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}