.form {
    display: none;
}

.open {
    display: flex;
    justify-content: center;
    align-items: center;

}

.event {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 25vh auto;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid black;
}

.blur {
    filter: blur(15px);
}