.form {
    display: none;
}

.editForm{
    display:none;
}

.open {
    display: flex;
    justify-content: center;
    align-items: center;

}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: -5%;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid black;
    &-txt {
        font-size: 1rem;
        outline: none;
        padding: .25rem;
        border: 1px solid $border-box;
        &:focus {
            border: none;
            box-shadow: 0 0 0 3px $hover-btn;
        }
    }
}

.blur {
    filter: blur(15px);
}