.event {
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 25vh 5vw;
    padding: 1rem;

    background: lightblue;
}