// color
$hover-btn: rgb(186,218,85);
$border-box: rgba(238,238,238);

// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

$txt-font: 'Open Sans', sans-serif;
$title-font: 'Roboto Mono', monospace;