// import 
@import './utils/reset';
@import './utils/variable';

@import './design/btn-form';
@import './design/form';
@import './design/event-list';

// design global
body {
    font-family: $txt-font;
}

h1 {
    text: {
        align: center;
        decoration: underline;
    }
    margin: 2%;
    font: {
        size: 2rem;
        family: $title-font;
    }
}


